* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #151f2e;
}

header {
  width: 100%;
  height: 4em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e2630;
}

header > img {
  height: 100%;
  width: auto;
}

header > span {
  margin-right: 0.3em;
}

main {
  width: max-content;
  padding: 0.2em 0.5em;
}

main a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5em 0;
  cursor: pointer;
  padding: 0.2em 0.3em;
  border: 1px solid #84898e;
  border-radius: 3px;
}

main a:hover {
  background-color: #474d56;
}

main a > span {
  margin: 0 0.25em;
}
